<nav class="side-navbar">
  <div class="side-navbar-wrapper">
    <div class="sidenav-header d-flex align-items-center justify-content-center">
      <div class="sidenav-header-inner text-center"><img src="assets/img/logo.png" alt="logo" class="img-fluid rounded-circle">
        <h2 class="h5 text-uppercase">{{ companyName }}</h2>
      </div>
      <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>{{brandNameFirst}}</strong><strong class="text-primary">{{brandNameSecond}}</strong></a></div>
    </div>
    <div class="main-menu">
      <ul id="side-main-menu" class="side-menu list-unstyled">                  
        <li class="active"><a href="#"> <i class="icon-home"></i><span>Home</span></a></li>
      </ul>
    </div>
    <div class="admin-menu">
      <ul id="side-admin-menu" class="side-menu list-unstyled"> 
        <li> <a href="#"><i class="icon-form"></i><span>Page 2</span></a></li>
        <li> <a href="#"><i class="icon-presentation"></i><span>Page 3</span></a></li>
      </ul>
    </div>
  </div>
</nav>
